<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link href="{{url_for('static',filename='css/newstyle.css')}}" rel="stylesheet">
</head>
<body>
	<div class="loginbox">
		<img src="images/loginlogo.jpg" class="avatar">
		<h1> Login </h1>
		<form>
			<p>Username</p>
			<input type="text" name="" placeholder="Enter Username">
			<p>Password</p>
			<input type="text" name="" placeholder="Enter Password ">
			<input type="submit" value="Login">
			<a href="#">Forgot Password?</a><br><br>
			<a href="#">Sign up</a>
		</form>
	</div>
</body>
</html>