<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Timings</title>
</head>
<body>

    <form id="myForm">


    </form>

    <button class="button" onclick="formData()">Submit</button>


<script type="text/javascript">
    //console.log(document.cookie);
    var global_time;
    $.ajax({
        type: "POST",
        url: '/get_time',
        // data: JSON.stringify(timings),
        // contentType: "application/json; charset=utf-8",
        // traditional: true,
        success: function (data) {
            global_time = data;
            display(data);
        }

        });

    function display(val){
        document.cookie = "timings = " + val;
        let index = 0;
        let inp="";
        while (index < val.length){
            tm = val[index];
            inp = inp + `<div class="form-check form-check-inline"> <input class="form-check-input" type="radio" name="`+tm +`" id="`+tm+`" value="option1"> <label class="form-check-label" for="inlineRadio1">`+tm+`</label>\</div><br>`;
            index++;
        }
        inp = inp + "";
        document.getElementById('myForm').innerHTML = inp;
    }

    function formData(){
        console.log('in');
        let index = 0;
        val = global_time;
        console.log(val)
        while (index < val.length){
            tm = val[index];
            if(document.getElementById(tm).checked){
                document.cookie = "timings = ;";
                document.cookie = "timings = "+tm;
                console.log(tm);
                window.location = "{{url_for('ticket')}}";
            }
            index++;
        }
    }
</script>
</body>
</html>